/* html{
    cursor: none;
} */

body {
    background-color: #121212;
    justify-content: space-around;
}

#loader
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    z-index: 4;
}


.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #fefefe;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }

/* .arrowRight
{
  position: absolute;
  margin-right: 8rem;
  right: 10px;
  bottom: 6%;
  opacity: 0.6;
}

.arrowLeft
{
    position: absolute;
    margin-left: 8rem;
    left: 10px;
    bottom: 6%;
    opacity: 0.6;
}

.arrowRight:hover,
.arrowLeft:hover
{
    opacity: 1;
} */

